<h1 style="text-align: center"><b>Why Meme?</b></h1>
<p style="margin: 20px;padding: 10px;">
    Each culture has their unique meme. Things that people laugh about and relate to in a particular
    region is different to those in another regions. By understanding memes from other parts of the world, we are
    able to share a tiny little bit of understanding... and hopefully a little laugh :)
    <br>
    <br>
    P.S. You can also detect and translate images with text that are not memes! For example, an image of a <b>billboard</b>,
    <b>restaurant menu</b>, <b>recipe</b>, etc!
</p>
<ul class="nav nav-pills">
        <a href="{{ url_for('index')}}"><b>Go back to Homepage</b></a></li>
</ul>